* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  
  
  html{
      font-size: 62.5%;
      overflow-x: hidden;
  }
  
  body{
      background: $bg-color;
      color: $text-color;
  }
  section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}  

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;

    & > .btn {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 15rem;
      height: 100%;
      background: $main-color;
      border: 0.2rem solid $main-color;
      border-radius: 0.8rem;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: $bg-color;
      z-index: 1;
      overflow: hidden;
      transition: 0.5s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $bg-color;
        z-index: -1;
        transition: 0.5s;
      }

      &:hover {
        color: $main-color;
        &::before {
          content: "";
          width: 100%;
        }
      }

      &:nth-child(2) {
        background: transparent;
        color: $main-color;

        &::before {
          background-color: $main-color;
        }

        &:hover {
          color: $bg-color;
        }
      }
    }
  }