@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "color";
@import "reset";
@import "mixins";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  & > a.logo {
    font-size: 2.5rem;
    color: $text-color;
    font-weight: 600;
  }

  & > #menu-icon {
    font-size: 3.6rem;
    color: $text-color;
    cursor: pointer;
    display: none;
  }

  .navbar {
    & > a {
      font-size: 1.2rem;
      color: $text-color;
      font-weight: 500;
      margin-left: 3.5rem;

      &:hover {
        color: $main-color;
      }
    }

    & > .active {
      color: $main-color;
    }
  }
}

section.home {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url(../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  & > .home-content {
    max-width: 60rem;

    & > h1 {
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 1.3;
    }

    & > .text-animate {
      position: relative;
      width: 32.8rem;

      & > h3 {
        font-size: 3.2rem;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: 0.7px $main-color;
      }
    }

    & > p {
      font-size: 1.6rem;
      margin: 2rem 0 4rem;
    }

    //  @extend %butons;
  }

  & > .home-social {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;

    & > a {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: transparent;
      border: 0.2rem solid $main-color;
      border-radius: 50%;
      font-size: 20px;
      color: $main-color;
      overflow: hidden;
      transition: 0.5s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: $main-color;
        z-index: -1;
        transition: 0.5s;
      }

      &:hover {
        color: $bg-color;
        &::before {
          width: 100%;
        }
      }
    }
  }

  & > .home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;

    &:hover {
      background-color: $bg-color;
      opacity: 0.8;
    }
  }
}

section.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: $second-bg-color;
  padding-bottom: 6rem;

  & > .heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;

    & > span {
      color: $main-color;
    }
  }

  & > .about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 90%;
      border-radius: 50%;
      border: 0.2rem solid $main-color;
    }

    & > .circle-spin {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%) rotate(0);
      border-radius: 50%;
      border-top: 0.2rem solid $second-bg-color;
      border-bottom: 0.2rem solid $second-bg-color;
      border-left: 0.2rem solid $main-color;
      border-right: 0.2rem solid $main-color;
    }
  }

  & > .about-content {
    text-align: center;

    & > h3 {
      font-size: 2.8rem;
    }

    & > p {
      font-size: 1.6rem;
      margin: 2rem 0 3rem;   
    }

    & > .btn-box.btns {
      display: inline-block;
      width: 15rem;

      & > a {
        &::before {
          background: $second-bg-color;
        }
      }
    }
  }
}
